html {
  font-family: sans-serif;
  line-height: 1.6; 
}

body {
  max-width: 35em;
  margin: auto;
  padding: 0em .5em 5em .5em;
}

h1, h2, h3 {
  line-height: 1.3;
}

a {
  color: #1818a0;
}

p {
  text-align: justify;
  hyphens: auto;
}

code {
  background-color: #f3f3f3;
  color: #444;
  padding: .1em .3em;
  font-size: 120%;
}

div.note {
  opacity: .7;
  font-style: italic;
}

p > img, div > img {
  max-width: 100%;
}

div.figure {
  margin-top: 2em;
  margin-bottom: 2em;
}

p.caption {
  text-align: center;
  color: #666;
}
